.bio {
  padding: 12px;
}
.bio-image {
  float: left;
  width: 400px;
  height: auto;
  margin : 12px;
}
.bio-text {
  font-size: 18px;
  padding: 12px;
  line-height: 24px;
}

@media screen and (max-width: 768px) {
  .bio-image{
    width: 320px;
    float: none;
    display: block;
    margin: auto;
  }
}